<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="crm.dao.ShiroMapper">
    <select id="selectDeptByUserName" resultType="String" parameterType="String">
        select  deptname from   dept d ,employees e where d.deptid=e.deptid and e.username=#{name}
    </select>

    <select id="selectPermissionByUserName" parameterType="String" resultType="String">
        SELECT p.pname FROM permission p,employees e,deptpermission d WHERE p.permissionid =d.permissionid AND e.deptid=d.deptid AND username=#{name}
    </select>

    <select id="selectPasswordByUserName" parameterType="String" resultType="String">
        SELECT password FROM employees WHERE username=#{name}
    </select>

</mapper>